<div class="pending-bills">
  <div>
      <pre class="heading"> Today bills</pre>
  </div>
  <mat-accordion displayMode="flat" multi class="mat-table">
        <mat-expansion-panel *ngFor="let item of displayedRows let i = index" >
          <mat-expansion-panel-header class="mat-row">
            <span class="mat-cell"><b>{{item.hotelDetails.hotelName}}</b></span>
            <span class="mat-cell">invoice : {{item.hotelDetails.hotelGstNumber}}</span>
          </mat-expansion-panel-header>
          <table class="table-align">
            <tr>
              <th>Product</th>
              <th>quantity</th>
              <th>price</th>
              <th>amount</th>
            </tr>
            <tr *ngFor="let productDetails of item.productDetailList" >
              <td>{{productDetails.productName}}</td>
              <td>{{productDetails.quantity}}</td>
              <td>{{productDetails.price}}</td>
              <td>{{productDetails.amount}}</td>
            </tr>
          </table>
          <mat-action-row >
              <mat-icon class="expansionItems" color="accent" matTooltip="info">info</mat-icon>
              <mat-icon class="expansionItems" color="primary" matTooltip="edit" (click)="editproducts(item)">edit</mat-icon>
              <mat-icon class="expansionItems" color="warn" matTooltip="delete">delete</mat-icon>
          </mat-action-row>
         
        </mat-expansion-panel>
  </mat-accordion>
  </div>


    
      
   
