.mat-accordion { 
    border-bottom: none;
  }
  
  .mat-accordion .mat-expansion-panel{
    margin-bottom: 15px;
  }
  
  .mat-cell {
       padding-left: 20px;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    background-color: rgb(199, 212, 224);
  }
  
  .mat-table {
    display: block;
    width: 50%;
  }
  
  @media only screen and (max-width: 900px) {
    .mat-table {
     width:auto;
    }
    .mat-cell {
      padding-left: 0px;
  }
  }
  
  .pending-bills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    align-items: center;
  }
  
  .expansionItems {
    margin-right: 10px;
  }
  
  .table-align {
    margin-top: 1em;
    width: 50%;
  }
  
  .heading {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2em;
  }

  .datePicker {
    width: 100%;
    
  }

  .dateAndDown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
  }

  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
    