<div class="editTodayBill">
    <div class="newROwandHeading">
        <mat-icon  class="add-Row" matTooltip="Add product" (click)="addNewRow()">add_circle</mat-icon>
        <mat-icon color="warn" matTooltip="cancel" style="float: right;" (click)="closeDialog()"> cancel </mat-icon>
    </div>
<form (ngSubmit)="printEditedProductList()" [formGroup]="productForm" id="productForm" autocomplete="off" >
    <ng-container formArrayName="productDetails">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element let i = index" [formGroup]="element">
                  <mat-form-field *ngIf="!productForm.get('productDetails')?.value[i].isEditable" class="without-Edit">
                    <input matInput type="text" formControlName="productName" [readonly]="true">
                  </mat-form-field>
                  <mat-form-field *ngIf="productForm.get('productDetails')?.value[i].isEditable" class="on-Edit">
                    <mat-select formControlName="productName">
                      <mat-option *ngFor="let hotels of productList" [value]="hotels">
                        {{hotels}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef> qty </th>
                <td mat-cell *matCellDef="let element let i = index" [formGroup]="element">
                  <mat-form-field [ngClass]="productForm.get('productDetails')?.value[i].isEditable ? 'on-Edit': 'without-Edit'">
                    <input matInput type="text" formControlName="quantity" [readonly]="!productForm.get('productDetails')?.value[i].isEditable">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> price </th>
                <td mat-cell *matCellDef="let element let i = index" [formGroup]="element">
                  <mat-form-field [ngClass]="productForm.get('productDetails')?.value[i].isEditable ? 'on-Edit': 'without-Edit'">
                    <input matInput type="text" formControlName="price" [readonly]="!productForm.get('productDetails')?.value[i].isEditable">
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> amount </th>
                <td mat-cell *matCellDef="let element let i = index" [formGroup]="element">
                  <mat-form-field  class="without-Edit">
                    <input matInput type="text" formControlName="amount" [readonly]="true">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th> 
               <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                <button mat-icon-button class="material-icons app-toolbar-menu save-button" 
                                    *ngIf="productForm.get('productDetails')?.value[i].isEditable" color="primary"
                                    (click)="includeProductToList(productForm, i)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
             <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                color="warn" (click)="cancelEdit(productForm, i)"
                               
                               *ngIf="productForm.get('productDetails')?.value[i].isEditable">
                               <mat-icon>cancel</mat-icon>
            </button>                
                <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                *ngIf="!productForm.get('productDetails')?.value[i].isEditable"
                            color="primary"  (click)="editProductList(productForm,i)">
                            <mat-icon>edit</mat-icon>
                 </button>    
                 <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                 *ngIf="!productForm.get('productDetails')?.value[i].isEditable"
                                          color="warn">
                                         <mat-icon>delete</mat-icon>
                    </button>            
               </td>
             </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

    </ng-container>
</form>
<div class="print">
  <label><b>Total Amount</b></label>
  <p> Rs. {{this.totalamount}}</p>
       <button mat-raised-button style="float: right;" color="primary" form="productForm"> print </button>
</div>
</div>