table {
    width: 100%;
}

::ng-deep .without-Edit .mat-form-field-underline {
    display: none;
}

::ng-deep .on-Edit .mat-form-field-underline{
    display: legacy;
}  

.print {
  margin-top: 2px;
}