

.leftGrid {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headergrid {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.mat-card-div {
    width: 50%;
    margin-bottom: 2em;
}

.addProduct {
    width: 50%;
}

table {
    width: 100%;
}

.newcustomertitle {
    font-size: larger;
    font-weight: bold;
    text-align: start;
}