<div class="leftGrid">
<div class="headergrid">
      <mat-icon  class="add-Row" matTooltip="Add new Product" (click)="addProducts()">add_circle</mat-icon>
      <pre class="newcustomertitle"> Add New Customer</pre>
     </div>
    <div class="mat-card-div">
    <mat-card  class="mat-elevation-z8">
      <mat-card-content>
        <div class="form">
          <form [formGroup]="customerDetails">
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>CustomerName</mat-label>
                <input matInput formControlName="customerName" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Address</mat-label>
                <input matInput formControlName="customerAddress" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>GstNumber</mat-label>
                <input matInput formControlName="customerGstNumber" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>PhoneNumber</mat-label>
                <input matInput formControlName="customerPhoneNumber" />
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
    <div class="addProduct" class="mat-elevation-z8" style="width: 50%;">
      <form (ngSubmit)="customerFormSubmit()"
        [formGroup]="newCusotmerForm"
        autocomplete="off" id="newCustomerForm">
        <ng-container formArrayName="newCusotmerDetails">
          <table mat-table [dataSource]="dataSource"  >
            <ng-container matColumnDef="Product">
              <th mat-header-cell *matHeaderCellDef>Product</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field style="width: 50px">
                  <mat-select  formControlName="defaultProducts">
                    <mat-option *ngFor="let prod of products" [value]="prod.productName">
                      {{prod.productName}}
                    </mat-option>
                  </mat-select>
                  <!-- <input matInput type="text" formControlName="defaultProducts" /> -->
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>price</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field style="width: 50px">
                  <input matInput type="text" formControlName="defaultPrice" />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th> 
             <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
               <button mat-icon-button  class="material-icons app-toolbar-menu delete-button"
                                        color="warn" (click)="removeRow(i)">
                                       <mat-icon>delete</mat-icon>
                                   </button>
             </td>
           </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </ng-container>
      </form>
    </div>
    <div>
      <button class="submitButton" mat-raised-button form="newCustomerForm" color="primary">Submit</button>
    </div>
  </div>  
